h1 {
    text-align: center;
}

#hasil-output {
    height: 300px;
    width: 250px;
    border-color: rgb(253, 232, 3);
    border-style: solid;
    padding: 5px 5px 5px 5px;
    margin: auto;
}
p{
    text-align: center;
}