body{
    background:#141414;
    color: #ffffff;
}
h2 {
    color: aquamarine;
    background: rgb(244,118,133);
    background: linear-gradient(90deg, rgba(244,118,133,1) 13%, rgba(42,157,208,1) 85%);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.penulis{
    color:brown;
    background: rgb(244,118,133);
    background: linear-gradient(90deg, rgba(244,118,133,1) 13%, rgba(193,208,42,1) 85%);
}
.tanggal{
    color:blueviolet;
    background: linear-gradient(90deg, rgb(232, 83, 9) 0%, rgb(163, 197, 12) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#artikel-2{
    color: rgb(38, 54, 224);
}
.artikel-3{
    color: grey;
}
.HTML{
    color: rgb(211, 157, 56);
}
.credit-2{
    color: darkslategrey;
}
.credit-3{
    color: rgb(206, 129, 129);
}
#artikel-1{
   color: plum;
}